<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>ARONNI SOLUÇÕES</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="../pages/index.html">Início</a></li>
            <li><a href="../pages/about.html">Sobre Nós</a></li>
            <li><a href="../pages/services.html">Serviços</a></li>
            <li><a href="../pages/contact.html">Contato</a></li>
        </ul>
    </nav>
</body>
</html>